# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/
ENV/

# Test
.pytest_cache/
.coverage
htmlcov/

# Editor/IDE
.vscode/
.idea/

# Containers
*.log
actionlint
