line-length = 100
target-version = "py312"

[lint]
select = [
  "E",  # pycodestyle errors
  "F",  # pyflakes
  "I",  # isort
  "B",  # bugbear
]
ignore = []

[format]
quote-style = "preserve"
indent-style = "space"
line-ending = "auto"
